In [6]:
# Define the function "say_hello" so it prints "Hello" when called.
def say_hello():
    print("Hello!")

In [7]:
# Call the function, don't use print
say_hello()

Hello!

In [8]:
# Define the function "say_something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [9]:
say_something("Hello World!")

Hello World!

In [10]:
## Can print Janes introduction by adding a variable inside the function
Corey_says = "Hi, my name is Corey. I'm 0-5!"
say_something(Corey_says)

Hi, my name is Corey. I'm 0-5!

In [11]:
### The pandas map() function 
# A List of my grades
my_grades = ["B", "C", "B", "D"]

In [12]:
# import Pandas
import pandas as pd

In [13]:
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
# Using map function we are going to change B to A, C to B, and D to C
my_grades.map({"B": "A", "C": "B", "D" : "C"})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
### Python format function 
### Syntax of Function "{value:format specification}".format(value)

In [16]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

In [17]:
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [18]:
# Chaining the map() and format() functions
# Convert numerical grades to a Series 
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [19]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object